.footer {
	position: absolute;
	box-sizing: border-box;
	left: 0;
	right: 0;
	justify-content: center;
	text-align: center;
	color: rgba(211, 211, 211, 0.842);
	font-size: 1rem;
	a {
		color: rgba(211, 211, 211, 0.842);
	}
}
