.playercontainer {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	h3 {
		font-weight: 700;
		margin: 0;
		padding: 5px 0;
	}
	.departmentbase {
		padding: 10px;
		margin: 10px;
		min-width: 85%;
		.jobheader {
			margin: auto;
			font-size: large;
			font-weight: 800;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-align: center;
			width: 35%;
			padding: 15px;
			border-radius: 15px;
			border: 5px solid #212121;
			box-shadow: 0.5rem 0.5rem 0 #212121;
			border-radius: 4px;
			background-color: rgba(255, 255, 255, 0.829);
			margin-bottom: 20px;
		}
		.jobbase {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			max-height: 130vh;
		}
	}
	.Command {
		@extend .departmentbase;
		background-color: #6681a5;
		border: 5px solid #4d607a;
		border-radius: 4px;
		box-shadow: 0.5rem 0.5rem 0 #4d607a;
		.jobdetail {
			background-color: #5b7494;
			border-color: #5b7494;
		}
	}
	.Security {
		@extend .departmentbase;
		border: 5px solid #6d383f;
		box-shadow: 0.5rem 0.5rem 0 #6d383f;
		border-radius: 4px;
		background-color: #d46a78;
		.jobdetail {
			background-color: #be5f6c;
			border-color: #be5f6c;
		}
	}
	.Engineering {
		@extend .departmentbase;
		background-color: #dfb567;
		border: 5px solid #b39154;
		border-radius: 4px;
		box-shadow: 0.5rem 0.5rem 0 #b39154;
		.jobdetail {
			background-color: #c8a25c;
			border-color: #c8a25c;
		}
	}
	.Medical {
		@extend .departmentbase;
		background-color: #65b2bd;
		.jobdetail {
			background-color: #5aa0aa;
			border-color: #5aa0aa;
		}
	}
	.Science {
		@extend .departmentbase;
		background-color: #c973c9;
		.jobdetail {
			background-color: #b467b4;
			border-color: #b467b4;
		}
	}
	.Cargo {
		@extend .departmentbase;
		background-color: #cf9c6c;
		.jobdetail {
			background-color: #ba8c61;
			border-color: #ba8c61;
		}
	}
	.Service {
		@extend .departmentbase;
		background-color: #7cc46a;
		.jobdetail {
			background-color: #6fb05f;
			border-color: #6fb05f;
		}
	}
	.Silicon {
		@extend .departmentbase;
		background-color: #5dbda0;
		.jobdetail {
			background-color: #53aa90;
			border-color: #53aa90;
		}
	}
	.No-Department {
		@extend .departmentbase;
		background-color: #9689db;
		.jobdetail {
			background-color: #877bc5;
			border-color: #877bc5;
		}
	}
	.Syndicate {
		@extend .departmentbase;
		background-color: #d3434f;
		.jobdetail {
			background-color: #be3c47;
			border-color: #be3c47;
		}
	}
	.Space-Threat {
		@extend .departmentbase;
		background-color: #5e799c;
		.jobdetail {
			background-color: #4a6486;
			border-color: #4a6486;
		}
	}
	.Abductors {
		@extend .departmentbase;
		background-color: #ff7f90;
		.jobdetail {
			background-color: #cc6573;
			border-color: #cc6573;
		}
	}
	.Biohazard {
		@extend .departmentbase;
		background-color: #3caf67;
		.jobdetail {
			background-color: #349759;
			border-color: #349759;
		}
	}
	.Magic {
		@extend .departmentbase;
		background-color: #a090ea;
		.jobdetail {
			background-color: #8679c4;
			border-color: #8679c4;
		}
	}
	.Wizard-Federation {
		@extend .departmentbase;
		background-color: #6c629e;
		.jobdetail {
			background-color: #5e558d;
			border-color: #5e558d;
		}
	}
	.Ghost-Role {
		@extend .departmentbase;
		background-color: #e4c161;
		.jobdetail {
			background-color: #cfb059;
			border-color: #cfb059;
		}
	}
	.Conditional {
		@extend .departmentbase;
		background-color: #50aee4;
		.jobdetail {
			background-color: #4798c7;
			border-color: #4798c7;
		}
	}
	.Non-Role {
		@extend .departmentbase;
		background-color: #c9d6dd;
		.jobdetail {
			background-color: #bbc0c2;
			border-color: #bbc0c2;
		}
	}
	.Other {
		@extend .departmentbase;
		background-color: #a397e9;
		.jobdetail {
			background-color: #9187cf;
			border-color: #9187cf;
		}
	}
	.Removed {
		@extend .departmentbase;
		background-color: #cc8bc1;
		.jobdetail {
			background-color: #b975ae;
			border-color: #b975ae;
		}
	}
	.jobdetail {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 28px;
		width: auto;
		padding: 2px 4px;
		margin: 5px;
		margin-left: 0;
		border: 1px solid;
		border-radius: 5px;
		span {
			font-size: smaller;
			font-weight: 600;
			margin-left: 6px;
		}
		.icon {
			padding: 0;
			padding-left: 2px;
			margin: 0;
			height: 14px;
			width: 14px;
		}
		.time {
			font-size: smaller;
			font-weight: 600;
			margin-left: auto;
			margin-right: 3px;
		}
	}
}

.searchbox {
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	padding-top: 20px;
	border-radius: 15px;
	border: 5px solid #212121;
	box-shadow: 0.5rem 0.5rem 0 #212121;
	border-radius: 4px;
	background-color: white;
	justify-content: center;
	text-align: center;

	input[type="text"] {
		box-sizing: border-box;
		border: 3px solid #212121;
		width: 85%;
		padding: 8px;
		font-size: 17px;
		border: none;
		&:invalid {
			outline: none;
		}
	}
	button {
		padding: 8px 12px;
		background: #797979;
		font-size: 17px;
		border: none;
		cursor: pointer;
		&:hover {
			background-color: #ccc;
		}
	}
}
