.search {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;

  input {
    width: 15%;
    position: relative;
    padding: 4px 12px;
    height: 32px;
    border-radius: 5px;
    border: 0;
    outline: none;
  }

  button {
    width: 32px;
    height: 32px;
    background: rgb(167, 139, 250);
    border: 0;
    padding: 0 4px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  span {
    width: 16px;
    height: 16px;
    margin: auto;
    padding: auto;
    display: block;
  }
}
.playerdetails {
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #6681a5;
  .profile {
    @extend .flexrow;
    align-items: center;
    padding: 5px;
    margin: 5px;
    color: #242424;
    .image {
      vertical-align: middle;
      width: 128px;
      height: 128px;
      border-radius: 50%;
      background-color: #d1d1d1;
    }
  }
}

.playercontainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-weight: 700;
    margin: 0;
    padding: 5px 0;
  }
  .departmentbase {
    width: 350px;
    padding: 10px;
    h3 {
      height: 15px;
    }
    hr {
      border: 0;
      height: 3px;
      width: 100%;
    }
  }
  .command {
    @extend .departmentbase;
    background-color: #6681a5;
    hr {
      background-color: #334052;
    }
    .jobdetail {
      background-color: #5b7494;
      border-color: #5b7494;
    }
  }
  .security {
    @extend .departmentbase;
    background-color: #d46a78;
    hr {
      background-color: #6a353c;
    }
    .jobdetail {
      background-color: #be5f6c;
      border-color: #be5f6c;
    }
  }
  .engineering {
    @extend .departmentbase;
    background-color: #dfb567;
    hr {
      background-color: #6f5a33;
    }
    .jobdetail {
      background-color: #c8a25c;
      border-color: #c8a25c;
    }
  }
  .medical {
    @extend .departmentbase;
    background-color: #65b2bd;
    hr {
      background-color: #32595e;
    }
    .jobdetail {
      background-color: #5aa0aa;
      border-color: #5aa0aa;
    }
  }
  .science {
    @extend .departmentbase;
    background-color: #c973c9;
    hr {
      background-color: #643964;
    }
    .jobdetail {
      background-color: #b467b4;
      border-color: #b467b4;
    }
  }
  .cargo {
    @extend .departmentbase;
    background-color: #cf9c6c;
    hr {
      background-color: #674e36;
    }
    .jobdetail {
      background-color: #ba8c61;
      border-color: #ba8c61;
    }
  }
  .service {
    @extend .departmentbase;
    background-color: #7cc46a;
    hr {
      background-color: #3e6235;
    }
    .jobdetail {
      background-color: #6fb05f;
      border-color: #6fb05f;
    }
  }
  .silicon {
    @extend .departmentbase;
    background-color: #5dbda0;
    hr {
      background-color: #2e5e50;
    }
    .jobdetail {
      background-color: #53aa90;
      border-color: #53aa90;
    }
  }
  .nodepartment {
    @extend .departmentbase;
    background-color: #9689db;
    hr {
      background-color: #4b446d;
    }
    .jobdetail {
      background-color: #877bc5;
      border-color: #877bc5;
    }
  }
  .roundstart {
    @extend .departmentbase;
    background-color: #ff7f90;
    hr {
      background-color: #cc6573;
    }
    .jobdetail {
      background-color: #cc6573;
      border-color: #cc6573;
    }
  }
  .midround {
    @extend .departmentbase;
    background-color: #ff7f90;
    hr {
      background-color: #cc6573;
    }
    .jobdetail {
      background-color: #cc6573;
      border-color: #cc6573;
    }
  }
  .latejoin {
    @extend .departmentbase;
    background-color: #ff7f90;
    hr {
      background-color: #cc6573;
    }
    .jobdetail {
      background-color: #cc6573;
      border-color: #cc6573;
    }
  }
  .jobdetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 28px;
    width: auto;
    padding: 2px 5px;
    margin: 5px;
    border: 1px solid;
    border-radius: 5px;
    span {
      font-size: smaller;
      font-weight: 600;
      margin-left: 6px;
    }
    .icon {
      padding-left: 5px;
      height: 14px;
      width: 14px;
    }
    .time {
      font-size: smaller;
      font-weight: 600;
      margin-left: auto;
      margin-right: 10px;
    }
  }
}

.flexrow {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.flexcol {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.jobheader {
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: x-large;
  font-weight: 700;
  width: 100%;
  color: rgb(167, 139, 250);
  background-color: transparent;
}

.playernotfound {
  padding: auto;
  margin: auto;
  padding: 20px;
  margin-top: 24px;
  width: 60%;
  background-color: rgb(24 24 27);
  border-radius: 15px;
  border-left: 15px solid;
  border-color: rgb(167 139 250);
  h2 {
    font-weight: 700;
    font-size: 1.5rem;
    color: rgb(167 139 250);
  }

  p {
    font-weight: 600;
    color: rgb(214 211 209);
    text-wrap: pretty;
  }
}
