.flexrow {
	display: flex;
	flex-direction: row;
}

.flexcol {
	display: flex;
	flex-direction: column;
}

.activeserver {
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	width: 50%;
	box-shadow: 0px 0px 10px #e4e5e9;
	background-color: #e4e5e9;
	border-radius: 20px;
	@extend .flexrow;
	align-items: center;
	justify-content: space-between;
	.header {
		@extend .flexrow;
		gap: 16px;
		align-items: center;
		font-weight: 700;
		font-size: 1.5rem;
		color: #6f7878;
	}
	.map {
		text-align: left;
		font-weight: 600;
		font-size: 18px;
		color: #212529;
	}
	.details {
		@extend .flexrow;
		gap: 16px;
		font-weight: 600;
		color: #212529;
		p {
			font-weight: 600;
		}
	}
	.connect {
		background-color: #33b249;
		color: #fff;
		align-content: center;
		vertical-align: middle;
		font-weight: 600;
		padding: 0.5rem /* 8px */;
		border-width: 2px;
		border-radius: 0.375rem /* 6px */;
		text-decoration: none;
		margin: auto;
	}
}

.deactiveserver {
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 250px;
	width: 50%;
	box-shadow: 0px 0px 10px #e4e5e9;
	background-color: #e4e5e9;
	border-radius: 20px;
	@extend .flexcol;
	h2 {
		font-weight: 700;
		font-size: 1.5rem;
		box-shadow: 0px 0px 10px #e4e5e9;
		background-color: #e4e5e9;
		color: #6f7878;
	}

	p {
		font-weight: 600;
		color: #212529;
	}
}
